/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* --------------- */
body{
	background: #e8e8e8  url(/img/lines.png) no-repeat 50% 130px;
	font-family: 'Times New Roman', Times, serif;
	color: #273d46;
}

.container {
	padding: 168px 0 137px 0;
	max-width: 841px;
	margin: 0 auto;
}

.content_top{
	text-align: center;
}

.content_category{
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
}

.content_main {
	font-size: 36px;
	line-height: 50px;
	max-width: 760px;
	display: inline-block;
	margin-bottom: 70px;
}

.content__image {
	background-color: white;
	padding: 10px;
}

.content-text {
	opacity: 0.8;
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	text-align: left;
	max-width: 738px;
	margin: 0 auto;
}

.top-text {
	margin: 57px 0 24px 0;
}

.bottom-text {
	margin-bottom: 60px;
}

.content-bottom {
	font-family: Arial, Helvetica, sans-serif;
}

.list {
	line-height: 36px;
	font-size: 20px;
	margin-left: 50px;
	/* padding-left: 10px; */
}

.list li {
	background: url(../img/galka.png) no-repeat 0px 7px;
	text-align: left;
	padding-left: 30px;
}

.list li:nth-child(1) {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}
.list li:nth-child(2) {
	font-style: italic;
	color: #80b7b3;
}
.list li:nth-child(3) {
	font-weight: 700;
	color: #273d46;
}
.list li:nth-child(4) {
	text-decoration: line-through;
	color: #273d46;
}

.list li:nth-child(4) span {
	opacity: 0.3;
}

.huy {
	display: inline-block;
	height: 42px;
	padding: 0 30px;
	background: #80b7b3;
	line-height: 42px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-radius: 21px;
	box-shadow: 4px 6px 2px 0px rgba(0, 0, 0, 0.54);
	color: #ffffff;
	margin: 50px 0px 0px 45px;
	
}


.button span{
	background: url(../img/strelka.png) no-repeat right;
	padding-right: 30px;
}

.huy:hover{
	background: rgb(221, 134, 134);
	color: rgb(255, 255, 255);
	/* opacity:0; */
	/* transition: opacity 300ms; */
	/* -moz-transition: opacity .2s ease-out; */
	/* -webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out; */
}

.button:active{
	top: 3px;
	position: relative;
}

.huy:active {
	box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.54);

}
